html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.App {
  min-height:100%;
  position:relative;
}

.header {
  background: red;
  min-height: 200px;
}

.body {
  background: blue;
  min-height: 600px;
}

.footer {
  background: pink;
  min-height: 100px;
}
